@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@600&display=swap');

body {
  background-color: #FFFCFF;
}
.home-header {
  background-color: #39375B;
  color: #FFFCFF;
  font-family: 'Raleway', sans-serif;
  
}
.h1-header{
  margin-top: 0;
  padding: 3vh;  
}

.home-footer{
display: flex;
background-color: #745C97 ;
color: #FFFCFF;
padding: 3vh;
flex-direction:column;
font-family: 'Lato', sans-serif;
}
.links{
  background-color: transparent;
  width: 7vh;
  margin-right: 3vh
}
.title-footer{
margin-bottom: 0;
}
