@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@600&display=swap');

body {
  background-color: #FFFCFF;
}
.home-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

header {
  background-color: #39375B;
  color: #FFFCFF;
  font-family: 'Raleway', sans-serif;
  padding: 3vh;
  
}

.description{
  text-align: center;
  margin-top: -24px;
  margin-bottom: 32px;
  font-size: 5vh;
  font-style: italic;

}

.h1-header{
  margin: 0;
  padding-bottom: 0;
}

.p-header{
  margin: 0;
}

.home-footer{
display: flex;
background-color: #745C97 ;
color: #FFFCFF;
padding: 3vh;
flex-direction:column;
font-family: 'Lato', sans-serif;
}

.links{
  background-color: transparent;
  width: 7vh;
  margin-right: 3vh
}

.title-footer{
margin-bottom: 0;
}

.content-container {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

.container-pics{
  background: #cbd4c266;  
  padding: 5%; 
  border-radius: 1%;
  width: 85vw;
}

.left-header{
font-style: italic; 
}
.about-title {
  font-size: 4vh;
}
.about-paragraph{
  font-size: 3vh;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  min-height: 450px;
  background-color: #5cbbff75;
  margin: 24px;
}

.card-container {
  padding: 16px;
}

q {
  font-size: 18px;
  line-height: 1.5em;
}

.testimonial-header {
  text-align: center;
  font-size: 4vh;

}